.sale-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30.5rem;
    height: 33rem;
}

.sale__title {
    font-size: 1.8rem;
    font-weight: 800;
}

.sale__card {
    display: flex;
    width: 100%;
    height: 70%;
    padding: 1.5rem;
    background-color: #ffcdea63;
    border-radius: 10px 10% 10px 10px;
}

.sale__card img {
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.sale__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--wine);
    color: var(--white);
    border-radius: 0 70% 10px 0;
    padding: 2rem 1rem;
}

.sale__info p,
.sale__info a {
    margin: 0 2rem 0 1rem;
}

.sale__info p {
    font-size: 1.3rem;
}

.sale__info p:first-child {
    font-weight: 500;
    margin-top: 2rem;
}

.sale__info a {
    font-size: 1.5rem;
}

.sale__card span p {
    position: absolute;
    background-color: green;
    border-radius: 5px;
    color: var(--white);
    font-weight: 600;
    padding: .5rem;
    right: 1rem;
}

/* Media Queries */
@media screen and (width >= 400px) {
    .sale-container {
        width: 39rem;
    }

    .sale__title {
        font-size: 2rem;
    }
}